/__pycache__/
/.vscode/
/eda.py
/eda_submission.py
/testing.py
/testing_submission.py
/data/*.png
/data/MMasseyOrdinals.csv
/data/Cities.csv
/data/MGameCities.csv
/data/WGameCities.csv
/data/MTeamSpellings.csv
/data/WTeamSpellings.csv
